<div #refClassToggler class='container-fluid notes_app'>
  <div class='row flex-nowrap'>
    <div id='sidebar_wrapper' class='col-6 col-md-3 col-lg-2 p-2 bg-light'>
      <app-notes-list></app-notes-list>
    </div>
    <div id='content_wrapper' class='col-12 col-md-9 col-lg-10 px-0'>
      <div class='bg-light p-2'>
        <app-notes-nav (toogleSideBar)='toogleSideBar()'></app-notes-nav>
      </div>
      <div class='p-2 border-top border-left editor_height'>
        <app-notes-editor></app-notes-editor>
      </div>
    </div>
  </div>
</div>